.detail-page {
    background-image: linear-gradient(to bottom, rgba(39, 157, 236, 0.507), rgba(255, 0, 0, 0.712));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding-top: 15px;
    padding-bottom: 80px;
}

.card-body.p-4 h2 {
    padding-bottom: 10px;
}

.game-game-bottom{
    display: flex;
    align-items: center;
    gap: 90px;
    padding-bottom: 46px;
}
